<div class="container">
    <div *ngFor="let book of books; let last = last" [ngClass]="{'card': true, 'last-card': last}">
        <a [routerLink]="['/books', book.id]">
        <img src="../../../assets/images/default_book_avatar.png" 
        alt="Avatar" style="width:100%; max-width: 80px;">
        </a>
        <h4><p><a [routerLink]="['/books', book.id]">{{book.name}}</a></p></h4>
        <p>{{book.description}}</p>
        <p>{{book.category}}</p>
        <p class="price">{{book.price.toFixed(2)}}</p>
        <button class="button" (click)="addToCart(book.id)">Add to Cart</button>
    </div>
</div>