<div class="wrapper">
    <div class="container">
      <nav>
        <ul>
            <div class="nav-left">
                <li class="nav-item">
                    <a routerLink="" routerLinkActive="active" class="nav-link">Home</a>
                </li>
            </div>
            <div class="nav-right">
                <li class="nav-item">
                    <a routerLink="cart" routerLinkActive="active" class="nav-link">Cart</a>
                </li>
            </div>
        </ul>
      </nav>
  
      <h1>BookShop</h1>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  
    <div class="container-footer">
      <footer class="footer">
        <span>
          <h4>BookShop Footer</h4>
        </span>
      </footer>
    </div>
  </div>