<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Shop</title>
    <style>
        div {
            margin: 0 auto;
            text-align: center;
        }
        li{
            align-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
    <h1> Book Shop</h1>
    <nav>
        <a href="/books">Books</a>
    </nav>
    </div>
</body>
</html>