.container {
  padding: 0 2% 0 2%;
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.header{
  align-self: center;
}

table, .emptyMessage {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.summary{
  background-color: #f2f2f2;
  padding: 10%;
  grid-row: 4;
  grid-column: 3;
}

input{
  text-align: center;
  box-shadow: inset 2px 2px 1px #efefef;
  border: none;
  width: 8%;
  padding: 3% 4%;
  min-width: 15px;
  margin: 0 1px;
  border-radius: 3px;
  vertical-align: top;
}

.quantityOptions{
  display: inline-block;
}
